*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(97, 97, 240, 0.473);
}

section{
    width: 500px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.63) 2px 2px 2px ;
    

}
#inascimento{
    padding: 5px;
    border: rgba(32, 32, 54, 0.473) solid 1px;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.63) 2px 2px 2px;

}

input{
    margin-top:10px;
}

#botao{
    padding: 5px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(97, 97, 240, 0.473);
    box-shadow: rgba(0, 0, 0, 0.63) 2px 2px 2px;
    cursor: pointer;
}
#botao:hover{
    background-color: rgba(97, 97, 240, 0.788);
    font-size: 1em;
    transition: 0.5s;
    
}

#res{
    margin-top: 10px;
}