@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
}
main{
  margin: 0px 5%;
}

header{
  max-width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 5% 2% 5%;
}
.menu-hamburguer{
  display: none;
}

.lista-menu{
  display: flex;
  list-style: none;
}
.lista-menu > li{
  padding: 20px;
  cursor: pointer;
}
.lista-menu > li:hover{
  color: var(--Soft-red);
}


.bloco{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}
.div-desktop{
  width: 95%;
}

.image-desktop {
  width: 100%;
  height: 300px;
  background-image: url(assets/images/image-web-3-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.conteudo{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.titulo-conteudo{
  width: 100%;
  font-size: 1.8rem;
  padding-right: 35px;
}
.paragrafo-conteudo{
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  margin-top: 1%;
  color: var( --Dark-grayish-blue);
}
.button-read{
  width: 190px;
  height: 50px;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  font-weight: bolder;
  letter-spacing: 4px;
  border-style: none;
  margin-top: 17%;
  cursor: pointer;
}
.button-read:hover{
  background-color: var(--Very-dark-blue);
}
.div-new{
  width: 40%;
  padding: 40px 30px;
  background-color: var(--Very-dark-blue);
}
.div-new .div-new-conteudo:nth-child(3){
  border-top: 1px solid var(--Dark-grayish-blue);
  border-bottom: 1px solid var(--Dark-grayish-blue);
  margin: 25px 0px;
  padding: 25px 0px;
}

.titulo-new h1{
  font-size: 2.5rem;
  color: var(--Soft-orange);
  margin-bottom: 30px;
}
.div-new-conteudo h2{
  font-size: 1.2rem;
  color: var(--Off-white);
  margin-bottom: 20px;
  cursor: pointer;
}
.div-new-conteudo h2:hover{
  color: var(--Soft-orange);
}
.div-new-conteudo p{
  font-size: 1rem;
  color: var(--Dark-grayish-blue);
  line-height: 1.5rem;
}
.div-imagens{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: stretch;
  column-gap: 55px;
  margin: 70px 0%;
}
.div-imagem{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.image-res img{
  max-width: 100%;
  width: 120px;
  height: 120px;
  object-fit: fill;
}
.div-image-conteudo{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 0px;
  
}
.div-image-conteudo h1, .div-image-conteudo p{
  color:var(--Grayish-blue);
}
.div-image-conteudo h2{
  font-size: 1.2rem;
  margin: 10px 0px;
}
.div-image-conteudo h2:hover{
  color: var(--Soft-orange);
  cursor: pointer;

}

@media screen and (max-width:500px) {

  body{
    width: 100%;
    margin: 0px;
  }
  
  .menu-hamburguer{
   display: block;
   cursor: pointer;
  }
  .menu{
    display: none;
  }
  
  .bloco{
    width: 100%;
    display: block;
    margin: 0px;
  }
  .div-desktop{
    width: 100%;
  }
  .image-desktop{
    background-image: url(assets/images/image-web-3-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .conteudo{
    display: block;
  }
  .titulo-conteudo{
    font-size: 1.2rem;
  }
  .paragrafo-conteudo{
    font-size: 14px;
    font-weight: 400;

  }
  .button-read{
    margin: 20px 0px 50px 0px;
  }

  .div-new{
    width: 100%;
  }
  .div-imagens{
    display: block;
    margin: 50px 0px;

  }


  
}