*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(97, 97, 240, 0.473);
}

section{
    width: 500px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;

}
input{
    margin-top:10px;
}
